src/main/resources/temp/hbdf_schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="hbdf">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="personalinformation">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="name"/>
                            <xs:element type="xs:byte" name="weight"/>
                            <xs:element type="xs:short" name="height"/>
                            <xs:element type="xs:byte" name="age"/>
                            <xs:element type="xs:date" name="date"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element type="xs:string" name="typeofdevice"/>
                <xs:element name="typeofmeasurement">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="iso_7250">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="head">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="extent" maxOccurs="unbounded" minOccurs="0">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type="xs:string" name="measurement"/>
                                                                <xs:element type="xs:string" name="type"/>
                                                                <xs:element type="xs:short" name="value"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="arm">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="extent" maxOccurs="unbounded" minOccurs="0">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type="xs:string" name="measurement"/>
                                                                <xs:element type="xs:string" name="type"/>
                                                                <xs:element type="xs:short" name="value"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="torso">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="extent" maxOccurs="unbounded" minOccurs="0">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type="xs:string" name="measurement"/>
                                                                <xs:element type="xs:string" name="type"/>
                                                                <xs:element type="xs:short" name="value"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="leg">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="extent" maxOccurs="unbounded" minOccurs="0">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type="xs:string" name="measurement"/>
                                                                <xs:element type="xs:string" name="type"/>
                                                                <xs:element type="xs:byte" name="value"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="tailoring">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="torso">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="extent" maxOccurs="unbounded" minOccurs="0">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type="xs:string" name="measurement"/>
                                                                <xs:element type="xs:string" name="type"/>
                                                                <xs:element type="xs:byte" name="value"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="arm">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="extent" maxOccurs="unbounded" minOccurs="0">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type="xs:string" name="measurement"/>
                                                                <xs:element type="xs:string" name="type"/>
                                                                <xs:element type="xs:byte" name="value"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="leg">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="extent" maxOccurs="unbounded" minOccurs="0">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type="xs:string" name="measurement"/>
                                                                <xs:element type="xs:string" name="type"/>
                                                                <xs:element type="xs:byte" name="value"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>